#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding-top: 2rem;
  /* text-align: center; */
}

.app-height-container {
  min-height: 100vh;
}

.page-height-container {
  min-height: 80vh;
}

/* ------------------------------------------------------------------ */

/* General Styling */

/* Body */

.body-container {
  width: 95vw;
  text-align: start;
  margin: 0 auto;
  margin-top: 15px;
}

.inner-container {
  text-align: start;
  width: 50vw;
}

/* Font */

.text-white {
  color: white;
}

.text-xs {
  font-size: 12px;
}

.text-s {
  font-size: 14px;
  line-height: normal;
}

.justify-text {
  text-align: justify;
}

.font-N27 {
  font-family: N27;
  font-weight: bold;
}

.moveup {
  position: relative;
  bottom: 25px;
}

/* Icons and Buttons */

.icon {
  padding: 0px 5px;
}

.small-button {
  width: fit-content;
  padding: 5px;
  background-color: #929292;
  border: 1px solid black;
  text-align: center;
  color: white;
  font-family: Inter-Bold;
  font-size: 10px;
}

/* Links */

.link-black {
  color: black;
  font-family: Inter-Bold;
  text-decoration: none;
}

.link-white {
  color: white;
  font-family: Inter-Bold;
  text-decoration: none;
}

.link-orange {
  color: #FF5C00;
  font-family: Inter-Bold;
  text-decoration: none;
}

.link-normal {
  color: black;
  text-decoration: none;
}

.link-margin {
  margin-right: 35px;
}

/* Forms */

.form-label {
  padding-left: 10px;
}

.form-input {
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.form-select {
  width: 300px;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border-radius: 0;
  height: fit-content;
  padding: 10px;
}

.form-input-textarea {
  width: 300px;
  height: 168px;
}

.form-input:focus{
  outline: none
}

.form-select:focus{
  outline: none
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.form-button {
  width: fit-content;
  padding: 0px 15px;
  height: 40px;
  background-color: #929292;
  border: 1px solid black;
  text-align: center;
  color: white;
  font-family: Inter-Bold;
}

/* ------------------------------------------------------------------ */

/* Header */

.header-container {
  width: 95vw;
  text-align: start;
  margin: 0 auto;
}

.header-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.margin-topbottom {
  margin: 15px 0px 20px 0px;
}

.links-container-left {
  text-align: start;
}

.links-container-right {
  text-align: end;
}

/* ------------------------------------------------------------------ */

/* Footer */

.footer-container {
  width: 100vw;
  text-align: start;
  margin: 0 auto;
  background-color: black;
}

.footer-inner-container {
  width: 95vw;
  margin: 0 auto;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container-left {
  text-align: start;
}

.footer-container-right {
  text-align: end;
  align-self:last baseline;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Log in - Sign up */

.login-container {
  width: fit-content;
  margin: 0 auto;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* HomePage */

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-inner-container {
  text-align: start;
}

.home-link-box-img {
  width: 100%;
}

.home-link-box-orange {
  background-color: #FF5C00;
  padding: 30px;
  width: 33%;
  text-align: center;
}

.home-link-box-white {
  padding: 30px;
  width: 33%;
  text-align: center;
}

.home-link-box-grey {
  background-color: #929292;
  color: white;
  padding: 30px;
  width: 33%;
  text-align: center;
}

.home-margin {
  margin-right: 350px;
}

.home-margin-s {
  margin-right: 50px;
}

.exhibition-title-home {
  font-family: N27;
  font-size: 70px;
  margin: 100px 0px 25px 0px;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Admin Portal */

.admin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.admin-inner-container {
  text-align: start;
  width: 33vw;
}

.border {
  border: 1px solid black;
  padding: 25px;
}

.admin-links {
  text-decoration: none;
  color: black;
}

.admin-listitem {
  padding-left: 10px;
  list-style-type: none;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* ExhibitionsPage and PreviousExhibitionsPage */

.current-exhibition-container {
  background-color: #929292 ;
  padding: 20px;
  margin: 10px 0px;
}

.previous-exhibition-container {
  background-color: #929292 ;
  padding: 20px;
  margin: 10px 0px;
  width: fit-content;
}

.current-exhibition-container > h1, h2, h3, p {
  margin: 0;
}

.previous-exhibition-container > h1, h2, h3, p {
  margin: 0;
}

.exhibition-title {
  font-family: N27;
  margin: 25px 0px;
}

.arrow-down {
  transform: rotate(90deg);
  height: 13px;
  padding-bottom: 4px;
}

.align-right {
  text-align: end;
}

.slideshow {
  background-image: url(./assets/backgrounds/expo-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  text-align: center;
  position: relative;
}

.slideshow-buttons {
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.slideshow-img-frame {
  border: 5px solid black;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  box-shadow: 10px 10px 20px #888888;
}

.slideshow-img-passpartout {
  border: 20px solid white;
}

.slideshow-img {
  max-width: 30vw;
  max-height: 20vh;
  margin-bottom: -6px;
}

.slideshow-images.animate {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slideshow-zoom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-zoom-img-frame {
  position: relative;
  margin: 0 auto;
  border: 8px solid black;
  width: fit-content;
}

.slideshow-zoom-img-passpartout {
  border: 30px solid white;
  height: 80vh;
  margin-bottom: -6px;

}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Shop - Add item */

.form-outer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.form-container {
  width: 30vw;
}

/* Shop - show items */

.items-list-container {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: end;
}

.shop-item-title {
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  inline-size: 250px;
  overflow-wrap: break-all; 
  margin-bottom: 15px;
}

.shop-item-info {
  margin: 0;
}

.item-card {
  margin-bottom: 50px;
}

/* Shop - Item Details page */

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-container-left {
  text-align: start;
  max-width: 40vw;
}

.item-container-right {
  text-align: end;
  max-width: 40vw;
}

.form-container {
  text-align: start;
  width: fit-content;
}

.margin-right {
  margin-right: 50px;
}

.item-image {
  width: 40vw;
}

.item-title {
  font-size: 22px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}